<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Properties observers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>48A98FF81D85C6E600E8592B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48A9900C1D85C6E700E8592B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48A990171D85C6E700E8592B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
